%btn {
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.05);
    }

    &:focus {
        outline: none;
    }
}

.btn {
    @extend %btn;
    padding: 1rem 4rem;
    font-size: 1.25rem;
    font-weight: 400;

    i {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}


.search--filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 2rem;

    .search {
        position: relative;
        box-shadow: $light-shadow;

        i {
            margin: 1.5rem 1rem;
            position: absolute;
            opacity: 0.7;
        }

        input {
            min-width: 24rem;
            padding: 1.25rem 3rem;
            border: none;
            font-size: 1.7rem;
            text-transform: capitalize;

            &::placeholder {
                padding-left: 1rem;
                opacity: 0.7;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .drop-down {
        box-shadow: $light-shadow;
        position: relative;

        &__btn {
            font-size: 1.7rem;
            padding: 1.25rem 3rem;
            background-color: #fff;

            span {
                margin-right: 1rem;
            }
        }

        .option-list {
            position: absolute;
            z-index: 2;
            width: 100%;
            list-style: none;
            background-color: white;
            margin-top: 1rem;
            transition: all 0.2s ease;
            box-shadow: $light-shadow;

            .btn {
                width: 100%;
                font-size: 1.7rem;
            }
        }
    }
}

@media(max-width: $bp-small) {
    .search--filter {

        .search{
            margin-bottom: 2rem;
        }
    }
}