.detail {
    margin: 4% 5%;
    font-size: 1.7rem;

    .detail__btn {
        background-color: #fff;
        border: none;
        padding: 1rem 2.25rem;
        box-shadow: 0.2rem 0.2rem 0.5rem gray;
        cursor: pointer;
        margin: 0.7rem;
    }

    .btn__goback {
        margin-bottom: 5rem;
    }

    .country {
        display: flex;
        justify-content: center;

        &__img {
            width: 50rem;
            min-width: 32rem;
            object-fit: cover;
            padding: 0 5rem;
        }

        &__main {
            padding: 0 5rem;

            .country__name {
                font-size: 2.4rem;
                padding-top: 2rem;
            }

            .country__data {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .country__column {
                    margin-right: 3rem;
                    margin-bottom: 3rem;

                    .country__row {
                        padding: 0.5rem 0;

                        span {
                            font-weight: 600;
                            padding-right: 1rem;
                        }

                    }
                }

            }

            .country__borders {
                padding: 2rem 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                span {
                    font-weight: 600;
                    padding-right: 1rem;
                }
            }
        }

        @media(max-width: $bp-small) {
            .country__main {
                padding: 2rem;
            }

            .country__img {
                width: 32rem;
            }
        }
    }


    @media (max-width:1024px) {
        .country {
            flex-direction: column;
        }
    }
}